@font-face {
    font-family: 'pxplus_ibm_vga8regular';
    src: url('./IBM_VGA8.woff') format('woff');
    src: url('./IBM_VGA8.ttf') format('truetype');
    font-weight: normal;

}

body,footer,code {
	line-height: 1.2;
	font-family: "pxplus_ibm_vga8regular";
}
