code {
    color: green; /* hacker look for code blocks */
    overflow-wrap: break-word;
}

footer {
            text-align: center; /* centered footer, because no one likes a non-centered footer */
            padding: 5px; /* some padding so it doesn't interfere with body of the page */
            margin-top: auto;
}

footer img {
    outline: 1.5px solid #ff4162;
    outline-offset: 1px;
	border-radius: 3px; /* Cute rounded corners for   ^*/
}


b,strong{
    color: #AF0046 /* bold text color */
}

h1,h2,h3,h4,h5,h6{
    color: #FFA3A5 /* heading color */
}

.verse{
    color:#9daaaa /* color for quotes */
}
pre{
    /* source code blocks stuff (org-mode) */
    border: 1px solid #FFA3A5;
    background-color: #000000;
}
html {
        background-image: url(../pix/bg.gif);
        background-color: black;
        color: #C5D5D5; /* normal text color */
}

a {
	text-decoration: none;
	color:#850060; /* link color */
}

a:hover {
    text-decoration: underline;
    color:#b80085; /* link color when hovered over */
}

.avatar {
    border-radius:7%;
}

.content {
    background: rgb(0,0,0, 0.40);
}

.catp1  { color: #d70f3a }
.catp2  { color: #e64553 }
.catp3 { color: #fe640b }
.catp4  { color: #df8e1d }
.catp5 { color: #40a02b }
.catp6 { color: #209fb5 }
.catp7 { color: #1e66f5 }
.catp8 { color: #7287fd }
.catp9 { color: #8839ef }
.catp10 { color: #7a33d7 }
